.wrapper {
  padding-top: 40px;
  padding-bottom: 50px;
  max-width: 800px;
  margin: 0 auto;
}

.page-header {
  margin-bottom: 30px;
}

.page-header__title {
  margin-bottom: 15px;
}

.frame {
  display: flex;
  height: 450px;
  margin-bottom: 15px;
  border: none;
}

.letter-card {
  width: 400px;
  height: 400px;
  margin: auto;
  border-color: #aaa;
}

.display-area {
  position: relative;
  opacity: 0;
}

.display-area__letter {
  position: absolute;
  font-size: 1.25rem;
}

.main-buttons {
  width: 100%;
  margin-bottom: 15px;
}

.main-buttons__left {
  width: 15%;
}

.main-buttons__middle {
  width: 70%;
}

.main-buttons__right {
  width: 15%;
}

.input-small {
  max-width: 60px;
}

.letter-form {
}

.letter-form__button {
  position: absolute;
  right: 15px;
}

.animated-flash {
  animation-name: animatedFlash;
  animation-duration: 0ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

@keyframes animatedFlash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
